<h1>About Northwest Premier Home Inspections</h1>
<p>Northwest Premier Home Inspections, LLC operates out of Kenmore, Washington, and serves many areas in Western Washington: </p>

<ul>
<li>Seattle</li>
<li>Bellevue</li> 
<li>Everett</li>
<li>Tacoma</li>
<li>Bothell</li>
<li>Renton</li>
<li>Kirkland</li>
<li>Redmond</li>
<li>Woodinville</li>
<li>Kent</li>
<li>Puyallup</li>
<li>Federal Way</li>
</ul>

<p>Counties served include King, Snohomish, Thurston and Pierce County.</p>

<h2>Our Inspector</h2>

<%= image_tag("eric.jpg", :alt => "northwest home inspection logo", :class => "inspector-img pull-left") %>


<p>Eric Boyer (B.S in Construction Management, WSU) has home inspection certifications from both Washingtion state and from AHIT, the industry leader in inspection training. He brings well over a decade of experience in new construction and remodeling, working both in the field and in management. </p>

<p>Why go with Eric?</p>

<ul>
<li>Years of building homes gives our home inspector a deep knowledge of building components, techniques and current best practices.</li>
<li>Not only will Eric inspect your home, he’ll also give you free consultation that will help you maintain your home (including a First Time Home Buyer Maintenance DVD).</li>
<li>Experience running teams that remodeled multi-unit buildings, like apartments and condos, makes Eric the ideal inspector for your condo or investment property.</li>
</ul>
