<% content_for :title, "NWInspect - Complete Inspection" %>
<%= button_to "<< Back", services_path, method: :get, :class => 'btn btn-default btn-pad-top' %>
<h1>Complete Home Inspection Service for Buyers<h1>

<p>Our complete, 400-item home inspection for buyers will give you great working knowledge of the house on which you’ve made an offer. All offers are contingent on inspection, which means if you find things you can’t live with, you can reduce your asking price in consultation with your realtor or walk away entirely.</p>

<p>But hopefully our thorough inspection does something far better – provide you with peace of mind. We’ll inspect:</p>


<p>The Basics:</p>
<ul>
<li>Structure</li>
<li>Foundation</li>
<li>Siding</li>
<li>Porches</li>
<li>Deck</li>
<li>Walkways and stairways</li>
<li>Attic</li>
<li>Bedrooms, bathrooms, and kitchen</li>
<li>Interior and exterior walls</li>
<li>Interior and exterior doors</li>
</ul>


<p>The Major Systems:</p>
<ul>
<li>Water heater</li>
<li>Heating and air conditioning systems</li>
<li>Electrical system</li>
<li>Plumbing system and fixtures</li>
</ul>

<p>The Hard-to-See Spaces:</p>
<ul>
<li>Basement</li>
<li>Crawl space</li>
<li>Roof</li>
<li>Gutters</li>
<li>Chimney</li>
</ul>

<p>And don’t forget that a complete home inspection is your opportunity to ask your questions and “kick the tires” on your new home. Our <%= link_to "AHIT certified inspector", faq_path( :anchor => "AHIT") %> will take the time to explain how to maintain and upgrade your home. </p>

<p><%= link_to "Contact", new_contact_path %> Northwest Premier Home Inspections to set up your complete home inspection in the greater Seattle, Bellevue, Everett, Bothell, Renton, Kirkland, Redmond, Woodinville, Kent, Federal Way, Tacoma, Puyallup or Olympia areas.</p>
