<h1>FAQ</h1>

<div class="question">
<p>How quickly can I get an inspection?</p>
</div>
<div class="answer">
<p>We schedule all inspections within 48 hrs of your request. Buying a home is stressful. Scheduling a home inspection through us is not.</p>
</div>

<div class="question">
<p>Are you licensed and insured?</p>
</div>
<div class="answer">
<p>Yes, by law all home inspectors in WA state must be licensed and insured.</p>
</div>

<div class="question">
<p>Why is it important to have construction experience as a home inspector?</p>
</div>
<div class="answer">
<p>Construction experience provides in-depth knowledge of material types and appropriate installation of these materials.  This information cannot be effectively learned during a simple training course.  All of our inspectors have new construction AND remodel/repair experience. This means that they have seen the good the bad and the ugly and will help you be as informed as possible about your new home.</p>
</div>