<h1 class="section-heading">FAQ:</h1>

<div class="question">
	<p>What is a Home Inspection?</p>
</div>
<div class="answer">
	<p>
	A home inspection is a thorough, visual check of all the components and systems of a home. Many hands-on tests are conducted to make sure the home’s systems work properly. Our inspector makes detailed notes of his findings and shares them with you at the completion of the inspection.
	<p>
</div>

<div class="question">
	<p>What will I get out of my home inspection?</p>
</div>
<div class="answer">
	<p>You’ll get the peace of mind that comes from a thorough knowledge of the home in question. We perform a complete, 400-item review of the home including: foundation, structure, crawl space and basement; electrical system, water heater, heating/AC system (weather allowing) and interior plumbing; interior and exterior walls and siding; fireplace, chimney, attic, visible insulation, roof and gutters. You will receive an email copy of the inspection on-site as well as free maitenance advice, including a DVD for first-time home buyers.</p>
</div>

<div class="question">
	<p>Why does being an AHIT certified inspector matter?</p>
</div>
<div class="answer">
	<p>The AHIT certification goes beyond the basic requirements of Washington State’s certification. It’s curriculum is approved at over 120 college and university programs. As a national certification provider, AHIT’s training has the seal of approval of many industry leading organizations (NAHI, ASHI, NACHI, CREIA, TREC and more).</p>
</div>

<div class="question">
	<p>Does Northwest Premier inspect anything besides homes?</p>
</div>
<div class="answer">
	<p>Yes. As a veteran of the multi-unit remodeling business, our inspector is well-versed in the unique problem areas particular to apartments, condominiums and other larger structures.</p>
</div>

<div class="question">
	<p>Should I be present for the inspection?</p>
</div>
<div class="answer">
	<p>Yes, although it is not required. The real value of a home inspection comes from seeing first hand the “true story” or your home or future home.  We’re happy to do an inspection without your presence if your schedule doesn’t allow it, but we strongly encourage you to be present if possible.</p>
</div>

<div class="question">
	<p>Can my house fail its home inspection?</p>
</div>
<div class="answer">
	<p>No. A home inspection is not a pass-fail proposition. It’s an evaluation of the home’s physical condition so that a buyer or seller can be aware of systems that need major repair or replacement. A home inspection gives buyers and sellers a more accurate idea of a home’s true value.</p>
</div>

<div class="question">
	<p>How quickly can I get an inspection?</p>
</div>
<div class="answer">
	<p>We schedule all inspections within 48 hrs of your request. Buying a home is stressful. Scheduling a home inspection through us is not.</p>
</div>

<div class="question">
	<p>Are you licensed and insured?</p>
</div>
<div class="answer">
	<p>Yes, by law all home inspectors in WA state must be licensed and insured.</p>
</div>

<div class="question">
	<p>Why is it important to have construction experience as a home inspector?</p>
</div>
<div class="answer">
	<p>Construction experience provides in-depth knowledge of material types and appropriate installation of these materials.  This information cannot be effectively learned during a simple training course.  All of our inspectors have new construction AND remodel/repair experience. This means that they have seen the good the bad and the ugly and will help you be as informed as possible about your new home.</p>
</div>