<% content_for :title, "NWInspect - Home Consultations" %>
<%= button_to "<< Back", services_path, method: :get, :class => 'btn btn-default btn-pad-top' %>
<h1>Home Consultation for Buyers</h1>
<h3>Performing expert home consultations in King, Pierce, Snohomish, and Thurston Counties</h3>
<p>Do you ever wonder if the house you’re seeing was recently inspected? If we inspected it recently, we’ll provide a consultation service on the home to you.</p>

<p>Though not the same as getting a home inspection for legal purposes, we will happily review the home’s inspection report with you over the phone and help you understand what all the construction jargon means.</p>

<h3>Benefits of Home Consultation</h3>
<p>This service is designed to take the stress and mystery out of home buying. You don’t want to get emotionally attached to home only to discover it needs to be rewired, replumbed and re-everything else? A consultation will help you:</p>

<ul>
<li>Make more informed offers.</li>
<li>Reduce the amount of time you spend running from showing to showing.</li>
<li>Be more objective as a buyer.</li>
</ul>

<p><%= link_to "Call or email", new_contact_path %> Northwest Premier Home Inspections and find out if the house on your wishlist is on our recently inspected list.  Our service extends to homes in the greater Seattle, Bellevue, Everett, Bothell, Renton, Kirkland, Redmond, Woodinville, Kent, Federal Way, Tacoma, Puyallup and Olympia areas.</p>