<% content_for :title, "NWInspect - New Construction Inspections" %>
<%= button_to "<< Back", services_path, method: :get, :class => 'btn btn-default btn-pad-top' %>
<h1>Home Inspections for New Construction</h1>
<h3>Your new home looks stunning – but is it sound?</h3>


<p>All too often, a new home’s beauty is only on the surface. You got to pick the colors and the cabinets, which is fun, but shouldn’t you know if the builder cut corners in his haste to get on to the next job?</p>

<p>Our inspector spent over a decade in the construction industry building new homes and repairing old ones.  He can spot the telltale signs of shoddy workmanship so that you can get them addressed before you move in or before your <%= link_to "one-year warranty", "#one-year-inspection" %> is up.</p>


<h2 class="sub-heading">New Construction: Pre Move-in Inspection</h2>

<p>When we inspect new homes, we use the same thorough 400+ item report that we use for older homes. It often takes the eyes of a construction pro to spot the telltale signs of corner cutting that will cost you big money down the road.  A detailed pre-move-in home inspection can be the last chance you have to hold your builder accountable before the liabilities of bad workmanship become your problem.  It also can give you peace of mind, knowing that your biggest investment has properly constructed.</p>

<p>Though new homes typically don't require heavy maintenance immediately, we sto;; provide a Home Maintenance DVD to homeowners.</p>
 
<h2 class="sub-heading" id="one-year-inspection">New Construction: 1 Year Anniversary Home Inspection</h2>

<p>Many builders give a one year warranty on their new homes. This inspection, performed roughly a month before your warranty expires, gives you a chance to pinpoint and address with your builder any lingering issues your new home may have.</p>

<p>The timing is crucial. It gives you enough time to get to know your house’s quirks and come up with a list of questions for our inspector. It also gives your builder enough time to repair any construction flaws before your warranty expires.</p>

<p>We proudly protect new home owners in many Western Washington neighborhoods. Service areas include: Seattle, Bellevue, Everett, Bothell, Renton, Kirkland, Redmond, Woodinville, Kent, Federal Way, Puyallup and greater Olympia areas. <%= link_to "Set up", new_contact_path %> your one year anniversary inspection today.</p>