<% content_for :title, "NWInspect - Realtors" %>
<%= button_to "<< Back", services_path, method: :get, :class => 'btn btn-default btn-pad-top' %>
<h1>Inspection Services - For Realtors</h1>


<h3>Our Values:</h3>
<p>We know that your real estate business is built on trust, integrity, and relationships.  You can rest assured that we care about the same things you do.  This is why we always provide an extra level of customer care that helps your clients buy with confidence. An informed buyer has fewer post-sale regrets and generates the repeat business and referrals which are vital in this competitive industry.</p>


<h3>Complete Home Inspections:</h3>
<p>Our complete, 400+ item home inspection will give your clients a comprehensive working knowledge of the house in question. This inspection includes all the home’s major systems – things like electrical, heating, AC and plumbing – but it also includes a list of smaller items, some of which may need attention after move in.</p>

<p>As a construction expert with well over a decade in the field, our inspector helps buyers know what they’ll need to do to upgrade and maintain the home. Your client will even be given a Home Buyer’s Maintenance DVD along with their inspection report. </p>


<h3>Pre-Listing Inspections:</h3>
<p>As you know, many sales go south when a buyer discovers the functional condition of a home through an inspection. Sellers are often shocked at the real value of their home, and Realtors, like you, get frustrated over lost sales.</p>

<p>This is why we offer pre-listing inspections.</p>

<p>A pre-listing inspection is the same service as our complete inspection, but it’s designed to help the seller:</p>

<ul>
<li>Know the true value of their home and thus list it at the right price.</li>
<li>Address any problems that might delay or stop the sale of their home.</li>
<li>Make proper disclosures to buyers if repairs aren’t financially feasible.</li>
</ul>

<h3>Pre-Offer Home Inspections:</h3>
<p>In competive real estate markets, multiple offers on a single home are common. Pre-offer inspections ensure that buyers aren’t wasting time on homes they’re just going to walk away from after a post-offer inspection. Suggesting a pre-offer inspection of a questionable home sets you apart as a Realtor with your customer’s best interest at heart. That’s word-of-mouth and loyalty that you can’t buy.</p>

<h3>Condo or Townhome Inspections:</h3>
<p>Just like single-family homes, town homes and condominiums need professional inspections. Our thorough inspections include but are not limited to the unit’s soundness of structure and major systems (electrical, plumbing, heating and AC). Built-in appliances will also be tested. A condominium or town home inspection is often quicker than that of a free-standing house, but our inspector will be just as thorough and helpful with your clients.</p>

<h3>Multi-Unit Inspections (Multiplex and Duplex Inspections):</h3>
<p>We’re happy to inspect multi-unit investor properties before purchase, prior to listing, as well as periodically during ownership. With extensive experience conducting remodels on condominiums and apartments, our inspector can help your clients understand the true value of their investment property.</p>

<h3>Consultation on Pre-Inspected Homes:</h3>
<p>In a real estate market like ours, it’s not uncommon for homes to get inspected more than once before they’re sold. If we’ve recently inspected a home, we’ll gladly review the inspection report over the phone with your buyers, explaining the details, so that they can make an informed decision about going ahead with an offer. Just one more thing we can do for your clients to take the stress and mystery out of purchasing a home.</p>

<h3>Service Areas:</h3>
<p>We are proud to provide Realtors with expert home inspection services in the greater Seattle, Bellevue, Everett, Bothell, Renton, Kirkland, Redmond, Woodinville, Kent, Federal Way, Puyallup, Tacoma and Olympia areas.</p>