<h1>About NPHI</h1>

<h2>Home Inspection Services</h2>
<p>An experienced inspector will prepare your Home
Inspection Reports with easy-to-read details on:</p>

<ul>
    <li>The condition of every major component from the roof to the basement</li>
    <li>Major and minor deficiencies</li>
    <li>Any major expenditures necessary</li>
    <li>What to watch out for</li>
    <li>Helpful home preservation tips</li>
    <li>Safety concerns</li>
    <li>And much more</li>
</ul>

<p>Our Home Inspector will review the detailed report with you to make sure you understand everything and answer any remaining questions.</p>

<h2>Pre-Purchase Inspection</h2>

<p>A home inspection is a visual process where all of the items typically used within a home are tested and/or operated to verify proper operation or installation. Doors and windows are opened and closed, roofing materials inspected, air-conditioning and heating systems operated. The Inspector will fill the sinks and tub(s), run the shower(s), and flush the toilets. All the while making notes on the condition and operation of the components tested. Upon completion a report will be distributed to you.</p>

<h2>New Construction Inspections</h2>

<p>New construction inspections are performed at the completion of construction, but prior to your final walk through with the Builder's Customer Service Representative or Superintendent. It is always a good idea to verify that utilities (gas, water, and electric) have been turned on, either by you or the Builder depending on the Builder's policy. The inspection should be scheduled just a day or two before your final walk through with the Builder. This will ensure that most, if not all, last minute items have been completed prior to your inspection. At the conclusion of the inspection a completed report will be distributed to you.</p>

<h2>Pre-Warranty Expiration Inspections</h2>

<p>Warranty inspections are performed during the 11th month of your 1-year Builder Warranty.  The inspection will be performed to verify that proper building techniques were used and that the various components of the home were properly installed. You will be presented with a completed report at the end of the inspection along with digital photos taken as needed for inaccessible areas.</p>