<h1>Thanks for contacting us!!</h1>

<p>Should you want to speak with someone immediately, please call 206-462-8483.  Your question is very important to us.  We will call or email you as soon as humanly possible.  Thanks!!!</p>

<p>Eric Boyer, Owner</p>