<h1>Contact successfully registered!!</h1>

<p>Our average response time to online queries is X.  Should you want to speak with someone immediately, please call 206-462-8483.  Your question is very important to us.  We will reach out to you as soon as humanly possible.  Thanks!!!</p>