.bs-docs-header {
	background-color: #505050;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.navbar {
	margin-bottom: 0px;
	color: black;
}

.navbar a {
	color: black;
}

.navbar-header a {
	color: black;
}

.bs-docs-container {
	background-color: #78AB46;
	padding-bottom: 300px;
}

.phone-number {
	background-color: #9DB68C;
}

.footer {
	color: grey;
}

.logo-pic {
	padding-left: 20px;
}



/* simple form styling */
.simple_form div.input {
  margin-bottom: 10px;
  clear: both; /* Required for Webkit, but not for Gecko */
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

#contact_name #contact_phone #contact_email {
	width: 200px;
}

#contact_additional_information {
	width: 200px;
}

